.unfinished_task {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #f58989;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.unfinished_task:hover {
  background: #f00044;
  text-decoration: none;
}

.finished_task {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #9ff589;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;

}

.finished_task:hover {
  background: #30f000;
  text-decoration: none;

}

.add_task {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #89bdf5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 80px;
  border-width: 0px;
  cursor: pointer;

}

.add_task:hover {
  background: #0030f0;
  text-decoration: none;
}

#new_task {
    display: inline-block;
}

#new_task>input[type="text"] {
    border-radius: 5px;
    height: 30px;
    font-size: 16px;
    width: 400px;
    border-width: 1px;
}

#delete_task {
    cursor: pointer;
}

body, html {
    margin: 0px;
    width: 100%;
    background-color: #e6ebf4;
}

#header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #4b658e;
    top: 0px;
    left: 0px;
    vertical-align: middle;
}

#header input {
    margin-left: 10px;
    height: 25px;
    border-width: 0px;
    font-size: 10pt;
    border-radius: 3px;
}

#login_btn {
  margin-left: 10px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 20px 6px 20px;
  text-decoration: none;
  border: none;
}

#login_btn:hover {
  border: none;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#register_btn {
  margin-left: 10px;
  border: none;
  background: #34d976;
  background-image: -webkit-linear-gradient(top, #34d976, #2bb840);
  background-image: -moz-linear-gradient(top, #34d976, #2bb840);
  background-image: -ms-linear-gradient(top, #34d976, #2bb840);
  background-image: -o-linear-gradient(top, #34d976, #2bb840);
  background-image: linear-gradient(to bottom, #34d976, #2bb840);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 20px 6px 20px;
  text-decoration: none;
}

#register_btn:hover {
  border: none;
  background: #3cfc43;
  background-image: -webkit-linear-gradient(top, #3cfc43, #3cd934);
  background-image: -moz-linear-gradient(top, #3cfc43, #3cd934);
  background-image: -ms-linear-gradient(top, #3cfc43, #3cd934);
  background-image: -o-linear-gradient(top, #3cfc43, #3cd934);
  background-image: linear-gradient(to bottom, #3cfc43, #3cd934);
  text-decoration: none;
}

#header h1 {
    color: White;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: Tahoma, Arial, serif;
    font-weight: normal;
    font-size: 18pt;
    margin-left: 10px;
}

#new_user {
    padding-top: 20px;
    position: relative;
    border: none;
    border-radius: 10px;
    background-color: #dce4f2;
    width: 300px;
    left: 50%;
    top: 50px;
    margin-left: -150px;
    height: 180px;
    padding-left: 10px;
    box-shadow: 0px 30px 40px rgba(0,0,0,.1);
}

#new_user input {
    width: 100%;
    margin-bottom: 15px;
    margin-left: 10px;
    width: 265px;
    height: 25px;
    border-width: 0px;
    font-size: 10pt;
    border-radius: 3px;
}

#body h1 {
    color: Red;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 20px 20px 0px 0px;
    font-family: Tahoma, Arial, serif;
    font-weight: normal;
    font-size: 16pt;
    margin-left: 20px;
}

#body_tasks {
    position: relative;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    top: 30px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #dce4f2;
    box-shadow: 0px 30px 40px rgba(0,0,0,.1);
}

#info {
    position: relative;
    top: 100px;
    width: 420px;
    left: 50%;
    margin-left: -210px;
    border-radius: 10px;
    background-color: #dce4f2;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    line-height: 200%;
    font-family: Tahoma, Arial, serif;
    font-size: 12px;
    box-shadow: 0px 30px 40px rgba(0,0,0,.1);
}